header{
height: 65px;
}

nav.navbar-static-top {
	height: 65px;
    line-height: 64px;
    margin-bottom: auto;
    border: 0px;
	background-color: #dee5a8;
}

.navbar-toggle{
	background-color: rgb(193, 199, 147);
}

.open>.dropdown-menu{
	background-color: rgba(222, 229, 168, 0.6);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #c8cf98;
}

.navbar-nav>li>a{
	background-color: #dee5a8;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#jumbo{
	color: #0CFB00;
	opacity: 0.5;
	text-shadow: -1px -1px 1px #FFFC00, 1px 1px 1px #FFFC00, -1px 1px 1px #FFFC00, 1px -1px 1px #FFFC00;
}
#jumbo1{
	margin-top: 1%;
	margin-bottom: 1%;
}

.carousel-inner {
 	text-align: center; 
}
.carousel .item > img {
 	display: inline-block; 
}
.carousel, .carousel-inner > .item > img {
  	height: 500px;
  	width: 100%;
}

#textslider{
    font-size: 1rem;
    line-height: 100%;
    margin: 8.5rem 0 27.4rem 0px;
}

main {
    flex: 1 0 auto;
}

footer.page-footer{
	background-color: #F0FF00 !important;
	margin-top: 0px !important;
	padding-top: 20px !important;
}

.parallax-container {
	height: "your height here";
}

.thumbnail{
	margin-bottom: 0px;
}

#imagenes{
	text-align: center;
	min-height: 200px;
}

.waves-effect.waves-brown .waves-ripple {
    background-color: rgba(121, 85, 72, 0.65);
}

/*#imglaborsocial{
	height: 60%;
	width: 100%;
}*/