body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container{
	margin: -1px auto;
}

nav.navbar-static-top {
	height: 50px;
    line-height: 50px;
    margin-bottom: auto;
    border: 0px;
	background-color: #008001;
}

.navbar-toggle{
	background-color: rgb(193, 199, 147);
}

.open>.dropdown-menu{
	background-color: rgba(0, 128, 1, 0.73);
	color: #f00;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #fff90c;
}

.navbar-nav>li>a{
	background-color: #008001;
	font-size: 17px;
}

.dropdown-menu>li>a{
	color: #fff;
}

.dropdown-menu{
	min-width: 143px;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: #008001;
}

a:focus, a:hover{
	color: #fff;
}

#jumbo{
	color: #0CFB00;
	opacity: 0.5;
	text-shadow: -1px -1px 1px #FFFC00, 1px 1px 1px #FFFC00, -1px 1px 1px #FFFC00, 1px -1px 1px #FFFC00;
}
#jumbo1{
	margin-top: 1%;
	margin-bottom: 1%;
}

.carousel-inner {
 	text-align: center;
 	position: static;
}
.carousel .item > img {
 	display: inline-block; 
}
.carousel, .carousel-inner > .item > img {
  	height: 100%;
  	min-width: 750px;
}

#textslider{
    font-size: 1rem;
    line-height: 100%;
    margin: 8.5rem 0 27.4rem 0px;
}



footer.page-footer{
	background-color: rgb(243, 243, 47) !important;
	margin-top: 0px;
	padding-top: 20px;
}

.thumbnail{
	margin-bottom: 0px;
}

#imagenes{
	text-align: center;
	min-height: 200px;
}

.waves-effect.waves-brown .waves-ripple {
    background-color: rgba(121, 85, 72, 0.65);
}

.btn:hover, .btn-large:hover {
    background-color: #2bbbad;
}

.btn, .btn-large, .btn-flat {
	center-align: 0px;
}

.card .card-image .card-title{
	color: #000;
}

.collapsible-header{
	background-color: #f6ff00;
}

.collapsible{
	border-top: 2px solid #fff500;
    border-right: 2px solid #fff500;
    border-left: 2px solid #fff500;
    margin: 0.5rem 0 1rem 0;
}

#laborTitulo{
	
}

/* coming-soon-regular - latin */
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/coming-soon-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Coming Soon'), local('ComingSoon'),
       url('../fonts/coming-soon-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/coming-soon-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/coming-soon-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/coming-soon-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/coming-soon-v6-latin-regular.svg#ComingSoon') format('svg'); /* Legacy iOS */
}

.row .col {
	float: none;
}