nav.navbar-static-top {
	background-color: #dee5a8;
}

.navbar-toggle{
	background-color: rgb(193, 199, 147);
}

.open>.dropdown-menu{
	background-color: rgba(222, 229, 168, 0.6);
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: #c8cf98;
}

.navbar-nav>li>a{
	background-color: #dee5a8;
}

.jumbotron {
	background: #F6FFA8;
	color: #18FF00;
	padding: 5px 0;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#jumbo{
	color: #0CFB00;
	text-shadow: -1px -1px 1px #FFFC00, 1px 1px 1px #FFFC00, -1px 1px 1px #FFFC00, 1px -1px 1px #FFFC00;
	margin: 0px 0px 0px 130px;
}

main {
    flex: 1 0 auto;
}

.page-footer{
	background-color: #F0FF00 !important;
}
